.navbar{
    background:linear-gradient(90deg in oklab, rgba(4, 29, 129, 0.771), rgba(255, 121, 141, 0.849));
    width: 100%;
    position: fixed;
    top:0;
    text-align: center;
    list-style: none;
    margin-top: 0px;
}
.navbar-items {
    font-size: 18px;
    display: inline-flex;
    flex-direction: column;
    margin:10px 10px;
}
.navbar-items button{
    border: 0px solid white;
    color: rgb(254, 254, 254) ;
    font-size: 19px;
    background-color: transparent;
}
.navbar-items button:hover{
    overflow: hidden;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px solid rgb(242, 242, 242);
    font-weight: bold;
    color: rgb(86, 0, 0) ;
    font-size: 16px;
   background-color: #dedede;
}

.login-link{
    text-decoration: none;
    color: rgb(254, 254, 254) ;
    font-size: 19px;
}