textarea, input{
    margin: 12px;
   width: 50%;
    background-color:transparent;
    font-size: 16px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 12px;
    color:white;
}

button{
    
    font-size: 15px;
    font-weight: bold;
    margin: 25px;
    border-radius: 5px;
    height: 30px;
}
h1{
    text-align: center;
    color: wheat;
    text-decoration:underline;
}
.myform{
    text-align: center;
}
label{
    font-size: 16px;
    color: white;
}