.log-div{
    margin: 200px;
   text-align: center;
}
.login-btn{
    display: inline;
    
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    margin: 25px;
    border-radius: 5px;
    height: 30px;
    
}
.back-btn{
    display: inline;
   color: black; font-size: 15px;
    font-weight: bold;
    width: 200px;
    margin: 25px;
   
    text-decoration: none;


}